@using EspacioTablero
@model MVC.ViewModel.ListarTableroViewModel
<h2 class="text-center">Listado de Tableros</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <td hidden>Id</td>
            <td hidden>IdTablero</td>
            <td>IdPropietario</td>
            <td>NombreTablero</td>
            <td>Descripcion</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.TablerosView)
        {
            <tr>
                <td hidden>@tablero.Id</td>
                <td>@tablero.Id_usuario_propetario</td>
                <td>@tablero.NombreTablero</td>
                <td>@tablero.Descripcion</td>
                <td><a asp-controller="Tablero" asp-action="ModificarTablero" asp-route-id="@tablero.Id">Modificar</a></td>
                <td><a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-id="@tablero.Id">Eliminar</a></td>
            </tr>
        }

    </tbody>
</table>

<div class="form-group mb-3 text-center">
    <div class="col-md-4 mx-auto"> <!-- Utiliza mx-auto para centrar en dispositivos medianos y grandes -->
        <a class="btn btn-dark btn-block text-white" asp-area="" asp-controller="Tablero" asp-action="CrearTablero">Agregar Tablero</a>
    </div>
</div>
