@using EspacioTablero
@model MVC.ViewModel.CrearTareaViewModel
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Tarea" asp-action="CrearTarea" class="border border-secondary p-4 mx-auto">
                <legend style="text-align: center; font-weight: bold;">Crear Tarea</legend>
                
                <div class="form-group mb-3">
                    <label asp-for="@Model.Id_tablero"></label>
                    <input asp-for="@Model.Id_tablero" class="form-control"/>
                    <span asp-validation-for="@Model.Id_tablero" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="@Model.Nombre"></label>
                    <input asp-for="@Model.Nombre" class="form-control"/>
                    <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="@Model.Estado"></label>
                    <input asp-for="@Model.Estado" class="form-control"/>
                    <span asp-validation-for="@Model.Estado" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.Descripcion"></label>
                    <input asp-for="@Model.Descripcion" class="form-control"/>
                    <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.Color"></label>
                    <input asp-for="@Model.Color" class="form-control"/>
                    <span asp-validation-for="@Model.Color" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.Id_usuario_asignado"></label>
                    <input asp-for="@Model.Id_usuario_asignado" class="form-control"/>
                    <span asp-validation-for="@Model.Id_usuario_asignado" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-secondary">Enviar</button> 

            </form>
        </div>
    </div>
</div>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }