@using EspacioTablero
@model MVC.ViewModel.ListarTareaViewModel

 <h2 class="text-center text-muted display-8 fw-light">Listado de Tareas</h2>
    
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <td hidden>Id</td>
            <td hidden>IdTablero</td>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Color</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.TareasView)
        {
            <tr>
                <td hidden>@tarea.Id</td>
                <td hidden>@tarea.Id_tablero</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td><a asp-controller="Tarea" asp-action="ModificarTarea" asp-route-id="@tarea.Id">Modificar</a></td>
                <td><a asp-controller="Tarea" asp-action="EliminarTarea" asp-route-id="@tarea.Id">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group mb-3 text-center">
    <div class="col-md-4 mx-auto"> <!-- Utiliza mx-auto para centrar en dispositivos medianos y grandes -->
        <a class="btn btn-dark btn-block text-white" asp-area="" asp-controller="Tarea" asp-action="CrearTarea">Agregar Tarea</a>
    </div>
</div>

