@using EspacioTablero
@model MVC.ViewModel.ModificarUsuarioViewModel
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-6">
<form asp-controller="Usuario" asp-action="ModificarUsuario" class="border border-secondary p-4 mx-auto">
     <legend style="text-align: center; font-weight: bold;">Modificar Usuario</legend>
    
    <div class="form-group mb-3">
        <label asp-for="@Model.NombreDeUsuario"  class="text-left text-dark" ></label>
        <input asp-for="@Model.NombreDeUsuario" class="form-control"/>
        <span asp-validation-for="@Model.NombreDeUsuario" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="@Model.Contrasenia" class="text-left text-dark"></label>
        <input asp-for="@Model.Contrasenia" class="form-control"/>
        <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <!--Consultar porque no se baja el select  -->
        <label asp-for="@Model.Rol" class="form-label text-left text-dark">Rol</label>
        <select asp-for="@Model.Rol" class="form-select" aria-label="Default select example" disabled>
            <option value="Operador">Operador</option>
            <option value="Administrador">Administrador</option>
        </select>
    </div>
    <button type="submit" class="btn btn-secondary">Enviar</button>
</form>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }